* {
    margin: 0;
    padding: 0;
}

/*index*/

.nombre-navbar {
    font-size: 1rem;
}

@media (min-width: 768px) {
    .nombre-navbar {
        font-size: 1.25rem;
    }
}

#perfil {
    background-color: #006cbd;
    color: white;
    padding: 60px 0;
    text-align: center;
}

#perfil h1 {
    font-size: 2.5rem;
}

.section-title {
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: bold;
}

.icon {
    color: #006cbd;
}


/*Portafolio*/

.card-img-top {
    height: 200px;
    object-fit: cover;
}